extends ../layout/main-layout.pug

block content
  .container
    .row
      .col-md-8
        h2 Kategori Bilgileri
        div.card
          div.card-body
            h5.card-title Kategori Adı: #{category.name}
            p.card-text Kategori Açıklaması: !{category.description}
            p.card-text Kategori ID: #{category.id}

      .col-md-4
        h3 Kategori Silme
        div.card
          div.card-body
            p Kategoriyi Sil
            // Silme Modalını Açan Buton
            button(type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal") Sil

    hr.mt-4

    .row.mt-4
      .col-md-12
        h3 Ürünler
        if products && products.length > 0
          table.table.table-striped.table-bordered
            thead
              tr
                th Image
                th Product Name
                th Price
                th Admin
            tbody
              each product in products
                tr
                  td
                    img(src=`/img/${product.imageurl}`, width="80")
                  td #{product.name}
                  td #{product.price} TL
                  td #{user ? user.name : 'Unknown'}
        else
          p Bu kategoriye ait ürün bulunmamaktadır.

  // Modal Bileşeni
  .modal.fade#deleteModal(tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title#deleteModalLabel Kategori ve Ürün Silme Onayı
          button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          p Bu kategoriye ait tüm ürünler de silinecektir. İşlemi onaylıyor musunuz?
        .modal-footer
          button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Vazgeç
          form(action="/admin/delete-category" method="POST" style="display: inline;")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="id" value=category.id)
            button(type="submit" class="btn btn-danger") Evet, Sil
