extends ../layout/main-layout.pug

block content
    .row 
        .col-md-3 
            img(src=`/img/${product.imageurl}` alt=`${product.description}`).img-fluid
        .col-md-9
            h1.mb-3 #{product.name}
            hr
            p.mb-3 Category: #{category.name}
            .mb-3 
                p Price: #{product.price} TL
                form(action="/cart" method="POST")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="hidden" name="productId" value=`${product.id}`)
                    button(type="submit").btn.btn-outline-primary.btn-sm Add to Cart
    .row 
        .col-md-12  
            hr  
            p.p-3 !{product.description}
